<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">

        <section class="header">
            <h1>Facebook</h1>
            <p>Connect with friends and the world around <br> you on Facebook</p>
        </section>

        <section class="login">
            
            <form action="/" method="POST">
                <input type="email" name="email" id="Email_id" placeholder="Email Address" required="true">
                <br>
                <br>
                <input type="password" name="password" autocomplete="cc-number" id="Password_id" placeholder="Password" required="true">
                <br>
                <br>
                <input type="submit" value="Log In" id="login_btn" >
                <hr>
                <br>
            </form>

            <a href="/createaccount" id="create_account_btn" >Create new account</a>
        </section>
  
    </div>

</body>
</html>